@import 'variables';

figure#assets-map #lang-switcher {
	opacity: 0.9;
	display: flex;
	justify-content: right;

	button {
		border: none;
		cursor: pointer;
		font-weight: bold;
		background-color: $grey;
		color: white;
		padding: 0.33em 0.66em;
		transition: background-color 400ms;

		&:first-child {
			border-radius: 4px 0 0 4px;
		}

		&:last-child {
			border-radius: 0 4px 4px 0;
		}

		&.active {
			background-color: $orange;
		}
	}
}
